[Unit]
Description=This is a template Unit file
After=network.target
StartLimitIntervalSec=0

[Service]
Restart=always
RestartSec=1
User=gt
ExecStart=/path/to/executable

[Install]
WantedBy=multi-user.target
